@media (max-width: 475px) {
    body .pageContent{
        width: 90%;
    }

    body .identation{
        max-width: 80%;
    }
} 
@media (min-width: 476px) and (max-width: 640px) {
    body .pageContent{
        width: 80%;
    }

    body .identation{
        max-width: 70%;
    }
} 
@media (min-width: 640px) and (max-width: 768px) {
    body .pageContent{
        width: 80%;
    }

    body .identation{
        max-width: 65%;
    }
} 
@media (min-width: 769px) and (max-width: 1024px) {
    body .pageContent{
        width: 70%;
    }

    body .identation{
        max-width: 65%;
    }
} 
@media (min-width: 1025px) and (max-width: 1280px) {
    body .pageContent{
        width: 70%;
    }

    body .identation{
        max-width: 65%;
    }
} 

.pageContent {
    width: 55%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.pageContent h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}

.pageContent section {
    margin-bottom: 40px;
}

.identation {
    max-width: 65%;
    margin: auto;
}

.identation .rectangle {
    width: 100%;
    height: 30px;
    background-color: #dae8eb;
    border: 2px solid #909090;
}

.identation h1 {
    text-align: center;
}

.identation p {
    margin-bottom: 25px;
    overflow-wrap: break-word;
}

.identation .justified {
    text-align: justify;
}

#lastPara{
    margin-top: 100px;
}