.tile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 290px;
    height: 349px;
    overflow: hidden;
    border: 1px solid rgba(192,192,192,1);
    padding: 28px;
    position: relative;
}

.sec1{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    position: relative;
}

.sec1 img{
    height: 30px;
}

.sec1 p{
    font-size: 14px;
    font-weight: 300;
}

.sec2{
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 18px;
    cursor: pointer;
    gap: 10px;
    height: 200px;
    overflow: hidden;
}

.sec2 .title{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .03em;
}

.sec3{
    display: flex;
    justify-content: space-between;
}

.sec3 > div > p{
    font-size: 14px;
}

.sec3 > div{
    display: flex;
    gap: 5px;
    align-items: center;
}

.horiLine{
    margin-top: auto;
    width: 100%;
    height: 1px;
    background-color: rgba(192,192,192,1);
    margin-bottom: 20px;
}





